.student-verification {
  max-width: 400px;
  margin: 50px auto; /* Added margin to center the card vertically and horizontally */
  padding: 40px;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Added box shadow for better visual */
}

h2 {
  text-align: center;
}

label {
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

button {
  background-color: #00264e;
  color: white;
  padding: 12px 20px; /* Increased padding for height */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

.student-info {
  margin-top: 20px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

h3 {
  margin-top: 0;
}

p {
  margin: 5px 0;
}

.error {
  color: red;
  text-align: center;
}

  